<%= simple_form_for @card do |f| %>
  <%= f.input :title, wrapper_html: { class: 'username' } %>
  <%= f.input :desc, wrapper_html: { id: 'password' } %>
  <%= f.input :hours, wrapper_html: { class: 'options' } %>
  <%= f.input :recomendations, wrapper_html: { class: 'options' } %>
  <%= f.button :submit %>
  <button class="btn" name="button" type="reset">Reset data</button>
<% end %>